<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.laker.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.hao.laker.entity.ArticleDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" typeHandler="com.hao.laker.common.ConvertBlobTypeHandler"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="show_count" property="showCount" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, category_id, title, content, description, status, author,create_time,update_time,show_count
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_article
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getAllArticleList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_article
        WHERE status = 0;
    </select>


</mapper>